<div class="hero-unit">
	<h1>Welcome to Startupify</h1>
	<h2>Tell your entrepeneurial stories here</h2>
		<p>
	<%= link_to "Sign Up Now!", "#" , class: "btn btn-large btn-primary" %>
		</p>
		<p>
</div>

