<div class="hero-unit">
	<h1 style="text-align: center;">Startupify</h1>
	<h4 style="padding: 0px 0px 10px 0px; text-align: center;">Tech Entrepreneurs Community</h4>
	<h5 style="text-align: center;">Build a profile. Post Questions. Make Tech Entrepreneur Friends. Help the Startup Community Grow</h5>
<p>
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>


</div>

     <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2 style="text-align: center;">Apply</h2>
		
          <p>Build a profile and apply to be a part of the community. A human verifies that you are actively working on a tech startup. To learn more about the approval process <a href="#">Click Here</a> </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>

        </div>
        <div class="span4">
          <h2 style="text-align: center;">Participate</h2>
          <p>Post questions, articles, pictures and other topics of entrepreneurial interest. The community can comment and up vote. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2 style="text-align: center;">Grow</h2>
          <p>No one said startups are easy. So, make some friends, help each other out and help build!</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

	</div>

</div>
